--
-- PostgreSQL database dump
--

\restrict jz1qAxpKLfvhtznroS2R0KrahoOqlLuwWyxyezjcDzFsNhRC8hcJrJZOEv0YohN

-- Dumped from database version 16.14 (Debian 16.14-1.pgdg13+1)
-- Dumped by pg_dump version 16.14 (Debian 16.14-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: habitual
--

-- *not* creating schema, since initdb creates it


ALTER SCHEMA public OWNER TO habitual;

--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: habitual
--

COMMENT ON SCHEMA public IS '';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: alembic_version; Type: TABLE; Schema: public; Owner: habitual
--

CREATE TABLE public.alembic_version (
    version_num character varying(32) NOT NULL
);


ALTER TABLE public.alembic_version OWNER TO habitual;

--
-- Name: habit_logs; Type: TABLE; Schema: public; Owner: habitual
--

CREATE TABLE public.habit_logs (
    id integer NOT NULL,
    habit_id integer NOT NULL,
    created_at timestamp without time zone NOT NULL,
    date date NOT NULL
);


ALTER TABLE public.habit_logs OWNER TO habitual;

--
-- Name: habit_logs_id_seq; Type: SEQUENCE; Schema: public; Owner: habitual
--

CREATE SEQUENCE public.habit_logs_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.habit_logs_id_seq OWNER TO habitual;

--
-- Name: habit_logs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: habitual
--

ALTER SEQUENCE public.habit_logs_id_seq OWNED BY public.habit_logs.id;


--
-- Name: habits; Type: TABLE; Schema: public; Owner: habitual
--

CREATE TABLE public.habits (
    id integer NOT NULL,
    user_id integer NOT NULL,
    name character varying(255) NOT NULL,
    description character varying(255),
    created_at timestamp without time zone NOT NULL,
    updated_at timestamp without time zone NOT NULL,
    is_archived boolean DEFAULT false NOT NULL
);


ALTER TABLE public.habits OWNER TO habitual;

--
-- Name: habits_id_seq; Type: SEQUENCE; Schema: public; Owner: habitual
--

CREATE SEQUENCE public.habits_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.habits_id_seq OWNER TO habitual;

--
-- Name: habits_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: habitual
--

ALTER SEQUENCE public.habits_id_seq OWNED BY public.habits.id;


--
-- Name: token_blacklist; Type: TABLE; Schema: public; Owner: habitual
--

CREATE TABLE public.token_blacklist (
    id integer NOT NULL,
    jti character varying(255) NOT NULL,
    expires_at timestamp without time zone NOT NULL,
    created_at timestamp without time zone NOT NULL
);


ALTER TABLE public.token_blacklist OWNER TO habitual;

--
-- Name: token_blacklist_id_seq; Type: SEQUENCE; Schema: public; Owner: habitual
--

CREATE SEQUENCE public.token_blacklist_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.token_blacklist_id_seq OWNER TO habitual;

--
-- Name: token_blacklist_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: habitual
--

ALTER SEQUENCE public.token_blacklist_id_seq OWNED BY public.token_blacklist.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: habitual
--

CREATE TABLE public.users (
    id integer NOT NULL,
    email character varying(255) NOT NULL,
    password_hash character varying(255) NOT NULL,
    created_at timestamp without time zone NOT NULL,
    updated_at timestamp without time zone NOT NULL
);


ALTER TABLE public.users OWNER TO habitual;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: habitual
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.users_id_seq OWNER TO habitual;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: habitual
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: habit_logs id; Type: DEFAULT; Schema: public; Owner: habitual
--

ALTER TABLE ONLY public.habit_logs ALTER COLUMN id SET DEFAULT nextval('public.habit_logs_id_seq'::regclass);


--
-- Name: habits id; Type: DEFAULT; Schema: public; Owner: habitual
--

ALTER TABLE ONLY public.habits ALTER COLUMN id SET DEFAULT nextval('public.habits_id_seq'::regclass);


--
-- Name: token_blacklist id; Type: DEFAULT; Schema: public; Owner: habitual
--

ALTER TABLE ONLY public.token_blacklist ALTER COLUMN id SET DEFAULT nextval('public.token_blacklist_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: habitual
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Data for Name: alembic_version; Type: TABLE DATA; Schema: public; Owner: habitual
--

COPY public.alembic_version (version_num) FROM stdin;
35274e78c30d
\.


--
-- Data for Name: habit_logs; Type: TABLE DATA; Schema: public; Owner: habitual
--

COPY public.habit_logs (id, habit_id, created_at, date) FROM stdin;
\.


--
-- Data for Name: habits; Type: TABLE DATA; Schema: public; Owner: habitual
--

COPY public.habits (id, user_id, name, description, created_at, updated_at, is_archived) FROM stdin;
1	1	run	run boy run	2026-06-21 17:21:39.955164	2026-06-21 17:21:39.955168	f
3	1	sleep	run boy run	2026-06-21 17:21:54.492533	2026-06-21 17:21:54.492546	f
2	1	swim	run boy run	2026-06-21 17:21:48.202454	2026-06-21 17:22:03.913638	t
\.


--
-- Data for Name: token_blacklist; Type: TABLE DATA; Schema: public; Owner: habitual
--

COPY public.token_blacklist (id, jti, expires_at, created_at) FROM stdin;
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: habitual
--

COPY public.users (id, email, password_hash, created_at, updated_at) FROM stdin;
1	user@example.com	$2b$12$yiRdmXl.6foB5FpI1vvb1OnMBdfDK0OIar/EynhJMYvGLt2kQI74S	2026-06-21 17:21:08.284049	2026-06-21 17:21:08.284055
\.


--
-- Name: habit_logs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: habitual
--

SELECT pg_catalog.setval('public.habit_logs_id_seq', 1, false);


--
-- Name: habits_id_seq; Type: SEQUENCE SET; Schema: public; Owner: habitual
--

SELECT pg_catalog.setval('public.habits_id_seq', 3, true);


--
-- Name: token_blacklist_id_seq; Type: SEQUENCE SET; Schema: public; Owner: habitual
--

SELECT pg_catalog.setval('public.token_blacklist_id_seq', 1, false);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: habitual
--

SELECT pg_catalog.setval('public.users_id_seq', 1, true);


--
-- Name: alembic_version alembic_version_pkc; Type: CONSTRAINT; Schema: public; Owner: habitual
--

ALTER TABLE ONLY public.alembic_version
    ADD CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num);


--
-- Name: habit_logs habit_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: habitual
--

ALTER TABLE ONLY public.habit_logs
    ADD CONSTRAINT habit_logs_pkey PRIMARY KEY (id);


--
-- Name: habits habits_pkey; Type: CONSTRAINT; Schema: public; Owner: habitual
--

ALTER TABLE ONLY public.habits
    ADD CONSTRAINT habits_pkey PRIMARY KEY (id);


--
-- Name: token_blacklist token_blacklist_pkey; Type: CONSTRAINT; Schema: public; Owner: habitual
--

ALTER TABLE ONLY public.token_blacklist
    ADD CONSTRAINT token_blacklist_pkey PRIMARY KEY (id);


--
-- Name: habit_logs uq_habit_log_date; Type: CONSTRAINT; Schema: public; Owner: habitual
--

ALTER TABLE ONLY public.habit_logs
    ADD CONSTRAINT uq_habit_log_date UNIQUE (habit_id, date);


--
-- Name: habits uq_user_habit_name; Type: CONSTRAINT; Schema: public; Owner: habitual
--

ALTER TABLE ONLY public.habits
    ADD CONSTRAINT uq_user_habit_name UNIQUE (user_id, name);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: habitual
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: idx_habit_log_habit_date; Type: INDEX; Schema: public; Owner: habitual
--

CREATE INDEX idx_habit_log_habit_date ON public.habit_logs USING btree (habit_id, date);


--
-- Name: idx_habit_user_id; Type: INDEX; Schema: public; Owner: habitual
--

CREATE INDEX idx_habit_user_id ON public.habits USING btree (user_id);


--
-- Name: ix_token_blacklist_expires_at; Type: INDEX; Schema: public; Owner: habitual
--

CREATE INDEX ix_token_blacklist_expires_at ON public.token_blacklist USING btree (expires_at);


--
-- Name: ix_token_blacklist_jti; Type: INDEX; Schema: public; Owner: habitual
--

CREATE UNIQUE INDEX ix_token_blacklist_jti ON public.token_blacklist USING btree (jti);


--
-- Name: ix_users_email; Type: INDEX; Schema: public; Owner: habitual
--

CREATE UNIQUE INDEX ix_users_email ON public.users USING btree (email);


--
-- Name: habit_logs habit_logs_habit_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: habitual
--

ALTER TABLE ONLY public.habit_logs
    ADD CONSTRAINT habit_logs_habit_id_fkey FOREIGN KEY (habit_id) REFERENCES public.habits(id) ON DELETE CASCADE;


--
-- Name: habits habits_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: habitual
--

ALTER TABLE ONLY public.habits
    ADD CONSTRAINT habits_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: habitual
--

REVOKE USAGE ON SCHEMA public FROM PUBLIC;


--
-- PostgreSQL database dump complete
--

\unrestrict jz1qAxpKLfvhtznroS2R0KrahoOqlLuwWyxyezjcDzFsNhRC8hcJrJZOEv0YohN

